.mat-header-cell,
.mat-cell{
    text-align: center;
}
th.left,
td.left{
    text-align: left;
    padding-left: 20px;
}
th.actions {
    width: 140px;
}
.cell-primary{
    width: 250px;
}
.cell-number{
    width: 75px;
}
.cell-photo {
    width: 100px;
}
.mat-cell img {
    width: 40px;
}
.mat-icon-button{
    margin-top: 5px;
}