.full-width {
    width: 100%;
}

.form-card {
    width: 50%;
    margin: auto;
}

.photo {
    display: flex;
    margin: auto;
    width: 200px;
}

.actions {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 20px;
}