/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "./assets/style.scss";

html, body { 
    margin: 0;
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

table {
    width: 100%;
}

.form-card{
    width: 50%;
    margin: auto;
}

@media (max-width: 768px) {
    .form-card {
        width: 100%;
    }
}

div.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.actions{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.full-width {
    width: 100%;
}

.clickable:hover{
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.sb-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.sb-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.sb-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.sb-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}